@import url(https://db.onlinewebfonts.com/c/67137b5f6928edc941186baaab5a664b?family=Lemon/Milk);

.no_select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

#main_nav {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

    div {
        flex: 1;
    }

    form {
        flex: 1.2;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;

        overflow-x: hidden;
        height: 2rem;

        i { opacity: 0.3; }

        input {
            font-family: 'Nanum Gothic';

            border: none;
            background-color: transparent;
            width: 85%;
        }
    }

    #brand {
        img {
            width: 2rem;
            height: 2rem;
        }
        h3 {
            font-family: 'Lemon Milk';
            font-weight: 400;
            font-size: 1.2em;
        }
    }

    #menu {
        font-family: 'Lemon Milk';
        font-weight: 300;
        column-gap: 1.5rem;
    }
}