#form {
    img {
        object-fit: contain;

        background-color: rgba(0, 0, 0, 0.2);
        max-width: 100px;
        max-height: 100px;
    }
}

#images {
    border: 1px dashed rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-wrap: nowrap;
    gap: 10px;

    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    width: 20%;
    height: 110px;

}