#product {
    // pointer-events: none;

    font-family: 'S-CoreDream-3Light', 'Nanum Gothic', sans-serif;
    margin: 0.5rem;
    width: 220px;
    text-align: left;

    h4 {
        padding-bottom: 0.2rem;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }
    #price {
        max-width: 80%;
        font-weight: 800;
    }
    #unit {
        margin-left: 0.5rem;
        font-weight: 800;
    }
    p {
        margin: 0;
        margin-bottom: .4rem;
    }

    & > img {
        object-fit: cover;
        background-color: rgba(0,0,0,0.05);

        width: 95%;

        margin: 0 2.5% 1rem;
        border-radius: 1.5rem;
    }
}

#meta {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;

    span {
        opacity: 0.7;
        font-size: 0.85rem;
        margin-right: auto;
    }
    img {
        margin-left: .5rem;
        width: 30px;
        height: 30px;
    }
    img.disable {
        opacity: 0.2;
    }
    &::after {
        clear: both;
    }
}